#heading {
  margin-top: 5px;
  text-align: center;
  padding-top: 15px;
  text-decoration: double;
  background-color: rgb(223, 119, 71);
  font: helvetica;
  font-size: 70px;
}

body {
  background-color: antiquewhite;
}

#searchForm {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

img {
  padding-left: 15px;
  margin: 10px 8px;
}

#input {
  width: 30%;
}
